@import "./variables.css";
@import "../styles/components/accordion.css";
@import "./media/xl[1500].css";
@font-face {
  font-family: "aeonik";
  src: url("../../assets/fonts/aeoniktrial-bold-webfont.woff2") format("woff2"), url("../../assets/fonts/aeoniktrial-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "aeonik";
  src: url("../../assets/fonts/aeoniktrial-light-webfont.woff2") format("woff2"), url("../../assets/fonts/aeoniktrial-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "aeonik";
  src: url("../../assets/fonts/aeoniktrial-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/aeoniktrial-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
}
@keyframes linearFromLeft {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "aeonik", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.display-1 {
  font-size: var(--display1-font-size);
  line-height: var(--display1-line-height);
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

.h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
}

.h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

.h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
}

.h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
}

.h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.link {
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  color: var(--color-blue);
  text-decoration: unset;
  position: relative;
  display: inline-block;
  padding-right: 24px;
  margin: 0;
}
.link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 1px;
  background-color: var(--color-blue);
  font-weight: 500;
}
.link::after {
  content: url("../../assets/icons/link-arrow.svg");
  display: block;
  position: absolute;
  right: 0;
  padding: 0 10px;
  top: 50%;
  transform: translate(0, -50%);
  transition: ease 0.3s all;
}
.link:hover::after {
  padding: 0;
}

.btn {
  padding: var(--btn-padding);
  display: block;
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.btn-lg {
  padding: 16px 24px;
  font-size: var(--btn-lg-font-size);
  line-height: var(--btn-lg-line-height);
}

.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

.flex {
  display: flex;
}

.items-end {
  align-items: end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.swiper-button-next {
  position: relative;
  width: 50px;
  height: 44px;
  margin-top: unset;
}
.swiper-button-next:after {
  content: url("../../assets/icons/swiper-next.svg");
}

.swiper-button-prev {
  position: relative;
  width: 50px;
  height: 44px;
  margin-top: unset;
}
.swiper-button-prev:after {
  content: url("../../assets/icons/swiper-prev.svg");
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  margin-right: 2px;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .container {
  height: var(--navbar-height);
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  position: relative;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: start;
  width: 80%;
  margin: auto;
  padding: 0;
}
header nav li {
  list-style-type: none;
  font-weight: 500;
  margin-right: var(--header-li-margin);
}
header nav li a {
  line-height: var(--header-a-line-height);
  font-size: var(--header-a-font-size);
  color: white;
}
header nav li.dropdown a {
  position: relative;
  display: inline-block;
  padding-right: var(--header-a-dropdown-padding);
}
header nav li.dropdown a::after {
  content: url("../../assets/icons/dropdown-arrow.svg");
  display: block;
  position: absolute;
  top: 50%;
  right: var(--header-a-dropdown-caret);
  transform: translate(0, -50%);
}
header nav li:first-of-type,
header nav li:last-of-type {
  display: none;
}
header nav li:nth-of-type(2) {
  margin-left: var(--header-li-margin);
}

#footer .inner.top .container {
  display: flex;
  justify-content: space-between;
  background-color: #e0e6f3;
  padding-top: var(--footer-newsletter-padding);
  padding-bottom: var(--footer-newsletter-padding);
}
#footer .inner.top .container .header {
  font-weight: 500;
  color: #000039;
  margin-bottom: 8px;
  font-size: 28px;
  line-height: 36px;
}
#footer .inner.top .container .h5 {
  color: #000039;
}
#footer .inner.top .container button {
  border: 0;
  box-shadow: unset;
}
#footer .inner.top .container input {
  padding-inline: unset;
  padding-block: unset;
  border: 0;
  padding: unset;
  height: 100%;
}
#footer .container {
  background-color: #0c1a5c;
  color: white;
  padding-top: 27px;
  padding-bottom: 27px;
}
#footer .inner.bottom {
  display: flex;
  background-color: #0c1a5c;
  color: white;
}
#footer .inner.bottom .col-1 {
  padding-bottom: 80px;
  padding-top: 80px;
  padding-left: var(--container-padding);
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-right: 56px;
  border-bottom: rgba(250, 250, 250, 0.5) solid 1px;
  border-right: rgba(250, 250, 250, 0.5) solid 1px;
}
#footer .inner.bottom .col-2 {
  padding-bottom: 80px;
  padding-top: 80px;
  width: 70%;
  border-bottom: rgba(250, 250, 250, 0.5) solid 1px;
}
#footer .inner.bottom p {
  font-size: var(--services-cat-tab-font-size);
  line-height: 20px;
  margin-bottom: 20px;
}
#footer .inner.bottom .logo {
  margin-bottom: 24px;
}
#footer .inner.bottom .contact {
  margin-bottom: 20px;
}
#footer .inner.bottom .contact .col-contact-1 {
  color: rgba(250, 250, 250, 0.5);
}
#footer .inner.bottom .contact .col-contact-1 div {
  margin-bottom: 4px;
}
#footer .bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  opacity: 0.8;
  font-size: 12px;
  line-height: 18px;
}
#footer .footer-main-content ul {
  width: 80%;
  margin: auto;
  padding: 0;
}
#footer .footer-main-content li {
  list-style-type: none;
  font-weight: 500;
  margin-right: var(--header-li-margin);
}
#footer .footer-main-content li a {
  line-height: var(--header-a-line-height);
  font-size: var(--header-a-font-size);
  color: white;
}

#hero-swiper {
  height: 100%;
  width: 100%;
}

.hero {
  height: 100vh;
  height: 100dvh;
  position: relative;
}
.hero .text {
  position: absolute;
  top: var(--hero-text-top-vh);
  top: var(--hero-text-top-dvh);
}
.hero .header {
  margin-top: 0;
  color: white;
  font-size: var(--h1-font-size);
  line-height: var(--hero-header-line-height);
  font-weight: 500;
  margin-bottom: var(--hero-header-mb);
  padding-right: var(--hero-header-pr);
}
.hero .description {
  color: white;
  font-size: var(--hero-desc-font-size);
  line-height: var(--hero-desc-line-height);
  padding-right: var(--hero-desc-pr);
}
.hero .btn {
  margin-top: var(--hero-btn-mb);
}
.hero .swiper-slide .inner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.hero #hero-pagination {
  width: 90%;
  bottom: 6vh;
  top: unset;
  left: var(--container-padding);
  display: flex;
  align-items: center;
}
.hero #hero-pagination .swiper-pagination-bullet {
  width: unset;
  height: unset;
  color: white;
  background: unset;
  position: relative;
  margin-right: var(--hero-bullet-mr);
  padding-bottom: 10px;
}
.hero #hero-pagination .swiper-pagination-bullet::before, .hero #hero-pagination .swiper-pagination-bullet::after {
  content: "";
  display: none;
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  height: 2px;
}
.hero #hero-pagination .swiper-pagination-bullet::before {
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.hero #hero-pagination .swiper-pagination-bullet::after {
  background-color: rgb(255, 255, 255);
}
.hero #hero-pagination .swiper-pagination-bullet-active::before {
  display: block;
}
.hero #hero-pagination .swiper-pagination-bullet-active::after {
  display: block;
  animation-duration: 4s;
  animation-name: linearFromLeft;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.hero #hero-pagination.paused .swiper-pagination-bullet-active::after {
  animation-play-state: paused;
}
.hero #swiper-control {
  width: 44px;
  height: 44px;
  background-image: url("../../assets/icons/swiper-pause.svg");
  cursor: pointer;
}

#trust_quality_innovation {
  background-color: var(--trust-bg-color);
  padding-top: var(--section-margin);
  padding-bottom: var(--section-margin);
}

.trust-section {
  display: flex;
}
.trust-section .col-1,
.trust-section .col-2 {
  width: 50%;
}
.trust-section .col-1 {
  padding-right: var(--trust-col1-pr);
}
.trust-section .col-1 .h6 {
  margin-bottom: 16px;
}
.trust-section .col-2 {
  padding-right: var(--trust-col2-pr);
}
.trust-section .col-2 .h5 {
  margin: var(--trust-col2-h5-margin);
}
.trust-section .line {
  width: 80%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 1px;
  position: relative;
  margin: var(--trust-line-margin);
}
.trust-section .line:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 40%;
  background-color: black;
}

.services {
  position: relative;
}
.services .slide-content {
  display: flex;
}
.services .col-1,
.services .col-2 {
  width: 50%;
}
.services .col-1 {
  padding-right: var(--services-slide-col-padding);
}
.services .h5 {
  font-weight: 900;
}
.services .header {
  font-weight: 400;
  padding-right: var(--services-header-pr);
  margin: var(--services-header-margin);
}
.services #services-swiper .swiper-slide:not(.swiper-slide-visible),
.services #services-swiper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}
.services #services-swiper-thumbs {
  position: relative;
}
.services #services-swiper-thumbs .cat-tab {
  background-color: #f1f0f5;
  font-weight: 500;
  color: #000030;
  padding: var(--services-cat-tab-padding);
  display: flex;
  justify-content: center;
}
.services #services-swiper-thumbs .cat-tab .cat-name {
  font-size: var(--services-cat-tab-font-size);
  font-weight: var(--services-cat-tab-line-height);
}
.services #services-swiper-thumbs .swiper-slide-thumb-active {
  background-color: var(--color-blue);
  color: white;
}
.services .nav-row {
  margin-bottom: 32px;
  display: flex;
  align-items: start;
}

#services-pagination {
  position: relative;
  bottom: unset;
  top: unset;
}
#services-pagination .swiper-pagination-bullet {
  width: unset;
  height: unset;
  background: unset;
  position: relative;
  margin-right: var(--hero-bullet-mr);
  padding-bottom: 10px;
}

.ac.js-enabled {
  border-top: solid 1px #dedede;
}
.ac.js-enabled:last-of-type {
  border-bottom: solid 1px #dedede;
}

.talk-section {
  position: relative;
}
.talk-section img {
  width: 100%;
  aspect-ratio: 1312/499;
}
.talk-section .text-container {
  background-color: #0c1a5c;
  position: absolute;
  right: 10%;
  top: 10%;
  bottom: -10%;
  left: 60%;
}
.talk-section .text-container:before {
  content: "";
  position: absolute;
  left: 95%;
  width: 15%;
  height: 10%;
  top: 90%;
  background-color: white;
  transform: skew(-40deg);
}
.talk-section .text {
  position: relative;
  color: white;
  padding: var(--talk-text-pad);
}

.talent-section {
  display: flex;
}
.talent-section .col-1,
.talent-section .col-2 {
  width: 50%;
}

.casestudy {
  background-color: rgba(230, 231, 233, 0.2);
  padding-bottom: var(--section-margin);
  padding-top: var(--section-margin);
  margin-top: var(--section-margin);
}
.casestudy .inner {
  display: flex;
}
.casestudy .inner .col-1 {
  width: 63%;
  padding-right: 24px;
}
.casestudy .inner .col-2 {
  width: 37%;
}
.casestudy .inner .insight-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.casestudy .inner .col-1.nav-col {
  display: flex;
  justify-content: space-between;
}
.casestudy .inner .col-2.nav-col {
  display: flex;
}
.casestudy .inner .col-2.nav-col a {
  margin-left: auto;
}
.casestudy .inner .swiper-nav {
  display: flex;
  align-items: end;
}
.casestudy .inner .nav-col {
  margin-top: 24px;
  align-items: center;
}
.casestudy .h2 {
  margin-bottom: var(--casestudy-header-margin);
}
.casestudy .case-card {
  background-color: white;
  padding: var(--casestudy-card-padding);
  min-height: var(--casestudy-card-height);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.casestudy .case-card .link {
  margin-top: auto;
}
.casestudy .case-image {
  width: 100%;
  aspect-ratio: 391/236;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.casestudy .case-desc {
  margin-bottom: var(--casestudy-card-inner-margin);
}
.casestudy .case-title {
  line-height: var(--casestudy-title-line-height);
  font-size: var(--casestudy-title-font-size);
  margin-bottom: var(--casestudy-card-inner-margin);
}
.casestudy .case-badge {
  background-color: #2dc46d;
  font-size: var(--casestudy-sm-font-size);
  line-height: var(--casestudy-sm-line-height);
  padding: 6px 12px;
  margin-bottom: var(--casestudy-card-inner-margin);
  font-weight: 700;
  display: inline-block;
  color: white;
}
.casestudy .case-info {
  margin-bottom: var(--casestudy-card-inner-margin);
}
.casestudy .case-date {
  font-size: var(--casestudy-sm-font-size);
  line-height: var(--casestudy-sm-line-height);
  display: inline;
}
.casestudy .case-read {
  font-size: var(--casestudy-sm-font-size);
  line-height: var(--casestudy-sm-line-height);
  display: inline;
}
.casestudy .h5 {
  font-weight: 400;
}
.casestudy .insight-card {
  background-color: #eff1f5;
  padding: var(--casestudy-card-padding);
  height: calc(50% - 12px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.casestudy .insight-card:first-of-type {
  margin-bottom: 24px;
}
.casestudy .insight-card .case-badge {
  background-color: #0c1a5c;
}
.casestudy .insight-card .link {
  margin-top: auto;
}

.products-home {
  background-color: #141720;
  background: linear-gradient(180deg, #141720 64%, #ffffff 40%);
  padding-top: var(--section-margin);
  margin-bottom: var(--section-margin);
}
.products-home .h2 {
  color: white;
  margin-bottom: 12px;
}
.products-home .products-section-desc {
  font-size: var(--hero-desc-font-size);
  line-height: var(--hero-desc-line-height);
  color: white;
  margin-bottom: 56px;
  text-align: center;
}
.products-home .product-image {
  width: 100%;
  aspect-ratio: 590/230;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.products-home .product-logo {
  position: absolute;
  bottom: -40px;
  left: 32px;
  width: 80px;
  height: 80px;
}
.products-home .product-desc-container {
  padding: 64px 32px 32px 32px;
  min-height: 380px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.products-home .product-desc-container .link {
  margin-top: auto;
}
.products-home .product-desc {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 32px;
}
.products-home .product-name {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.talent-section {
  margin-bottom: var(--section-margin);
}
.talent-section .talent-img {
  width: 100%;
  aspect-ratio: 605/581;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.talent-section .talent-text {
  padding: 121px 56px;
  background-color: rgba(230, 231, 233, 0.8);
}
.talent-section .h4 {
  font-weight: 700;
  margin-bottom: 12px;
}
.talent-section .h2 {
  margin-bottom: 12px;
}
.talent-section .h5 {
  margin-bottom: 24px;
}/*# sourceMappingURL=main.css.map */