@import "./variables.css";
@import "../styles/components/accordion.css";

@font-face {
  font-family: "aeonik";
  src: url("../../assets/fonts/aeoniktrial-bold-webfont.woff2") format("woff2"),
    url("../../assets/fonts/aeoniktrial-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "aeonik";
  src: url("../../assets/fonts/aeoniktrial-light-webfont.woff2") format("woff2"),
    url("../../assets/fonts/aeoniktrial-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "aeonik";
  src: url("../../assets/fonts/aeoniktrial-regular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/aeoniktrial-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
}

@keyframes linearFromLeft {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

// ================================================================================================================GENERAL

html,
body {
  margin: 0;
  padding: 0;
  font-family: "aeonik", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.display-1 {
  font-size: var(--display1-font-size);
  line-height: var(--display1-line-height);
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

.h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
}

.h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

.h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
}

.h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
}

.h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.link {
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  color: var(--color-blue);
  text-decoration: unset;
  position: relative;
  display: inline-block;
  padding-right: 24px;
  margin: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 1px;
    background-color: var(--color-blue);
    font-weight: 500;
  }

  &::after {
    content: url("../../assets/icons/link-arrow.svg");
    display: block;
    position: absolute;
    right: 0;
    padding: 0 10px;
    top: 50%;
    transform: translate(0, -50%);
    transition: ease 0.3s all;
  }

  &:hover {
    &::after {
      padding: 0;
    }
  }
}

.btn {
  padding: var(--btn-padding);
  display: block;
  font-size: var(--btn-font-size);
  line-height: var(--btn-line-height);
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.btn-lg {
  padding: 16px 24px;
  font-size: var(--btn-lg-font-size);
  line-height: var(--btn-lg-line-height);
}

.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

.flex {
  display: flex;
}

.items-end {
  align-items: end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.swiper-button-next {
  position: relative;
  width: 50px;
  height: 44px;
  margin-top: unset;

  &:after {
    content: url("../../assets/icons/swiper-next.svg");
  }
}

.swiper-button-prev {
  position: relative;
  width: 50px;
  height: 44px;
  margin-top: unset;

  &:after {
    content: url("../../assets/icons/swiper-prev.svg");
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  margin-right: 2px;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

// ================================================================================================================HEADER
.page {
  // margin-top: var(--navbar-height);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .container {
    height: var(--navbar-height);
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
      display: flex;
      justify-content: start;
      width: 80%;
      margin: auto;
      padding: 0;
    }

    li {
      list-style-type: none;
      font-weight: 500;
      margin-right: var(--header-li-margin);

      a {
        line-height: var(--header-a-line-height);
        font-size: var(--header-a-font-size);
        color: white;
      }

      &.dropdown {
        a {
          position: relative;
          display: inline-block;
          padding-right: var(--header-a-dropdown-padding);
        }

        a::after {
          content: url("../../assets/icons/dropdown-arrow.svg");
          display: block;
          position: absolute;
          top: 50%;
          right: var(--header-a-dropdown-caret);
          transform: translate(0, -50%);
        }
      }
    }

    li:first-of-type,
    li:last-of-type {
      display: none;
    }

    li:nth-of-type(2) {
      margin-left: var(--header-li-margin);
    }
  }
}

// ================================================================================================================FOOTER

#footer {
  .inner.top .container {
    display: flex;
    justify-content: space-between;
    background-color: #e0e6f3;
    padding-top: var(--footer-newsletter-padding);
    padding-bottom: var(--footer-newsletter-padding);

    .header {
      font-weight: 500;
      color: #000039;
      margin-bottom: 8px;
      font-size: 28px;
      line-height: 36px;
    }

    .h5 {
      color: #000039;
    }

    button {
      border: 0;
      box-shadow: unset;
      // padding-block: unset;
    }

    input {
      padding-inline: unset;
      padding-block: unset;
      border: 0;
      padding: unset;
      height: 100%;
    }
  }

  .container {
    background-color: #0c1a5c;
    color: white;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .inner.bottom {
    display: flex;
    background-color: #0c1a5c;
    color: white;

    .col-1 {
      padding-bottom: 80px;
      padding-top: 80px;
      padding-left: var(--container-padding);
      width: 30%;
      display: flex;
      flex-direction: column;
      padding-right: 56px;
      border-bottom: rgba(250, 250, 250, 0.5) solid 1px;
      border-right: rgba(250, 250, 250, 0.5) solid 1px;
    }

    .col-2 {
      padding-bottom: 80px;
      padding-top: 80px;
      width: 70%;
      border-bottom: rgba(250, 250, 250, 0.5) solid 1px;
    }

    p {
      font-size: var(--services-cat-tab-font-size);
      line-height: 20px;
      margin-bottom: 20px;
    }

    .logo {
      margin-bottom: 24px;
    }

    .contact {
      margin-bottom: 20px;

      .col-contact-1 {
        color: rgba(250, 250, 250, 0.5);

        div {
          margin-bottom: 4px;
        }
      }
    }
  }

  .bottom-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    opacity: 0.8;
    font-size: 12px;
    line-height: 18px;
  }

  .footer-main-content {
    ul {
      width: 80%;
      margin: auto;
      padding: 0;
    }

    li {
      list-style-type: none;
      font-weight: 500;
      margin-right: var(--header-li-margin);

      a {
        line-height: var(--header-a-line-height);
        font-size: var(--header-a-font-size);
        color: white;
      }
    }
  }
}

// ================================================================================================================HERO
#hero-swiper {
  height: 100%;
  width: 100%;
}

.hero {
  // height: calc(100vh - var(--navbar-height));
  // height: calc(100dvh - var(--navbar-height));
  height: 100vh;
  height: 100dvh;
  position: relative;

  .text {
    // margin-top: var(--navbar-height);
    position: absolute;
    top: var(--hero-text-top-vh);
    top: var(--hero-text-top-dvh);
  }

  .header {
    margin-top: 0;
    color: white;
    font-size: var(--h1-font-size);
    line-height: var(--hero-header-line-height);
    font-weight: 500;
    margin-bottom: var(--hero-header-mb);
    padding-right: var(--hero-header-pr);
  }

  .description {
    color: white;
    font-size: var(--hero-desc-font-size);
    line-height: var(--hero-desc-line-height);
    padding-right: var(--hero-desc-pr);
  }

  .btn {
    margin-top: var(--hero-btn-mb);
  }

  .swiper-slide .inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  #hero-pagination {
    width: 90%;
    bottom: 6vh;
    top: unset;
    left: var(--container-padding);
    display: flex;
    align-items: center;

    .swiper-pagination-bullet {
      width: unset;
      height: unset;
      color: white;
      background: unset;
      position: relative;
      margin-right: var(--hero-bullet-mr);
      padding-bottom: 10px;

      &::before,
      &::after {
        content: "";
        display: none;
        position: absolute;
        background: white;
        bottom: 0;
        left: 0;
        height: 2px;
      }

      &::before {
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
      }
      &::after {
        background-color: rgba(255, 255, 255);
      }
    }

    .swiper-pagination-bullet-active::before {
      display: block;
    }

    .swiper-pagination-bullet-active::after {
      display: block;
      animation-duration: 4s;
      animation-name: linearFromLeft;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-play-state: running;
    }

    &.paused {
      .swiper-pagination-bullet-active::after {
        animation-play-state: paused;
      }
    }
  }

  #swiper-control {
    width: 44px;
    height: 44px;
    background-image: url("../../assets/icons/swiper-pause.svg");
    cursor: pointer;
  }
}

// ==================================================================================================Trust. Quality Innovation
#trust_quality_innovation {
  background-color: var(--trust-bg-color);
  padding-top: var(--section-margin);
  padding-bottom: var(--section-margin);
}

.trust-section {
  display: flex;

  .col-1,
  .col-2 {
    width: 50%;
  }

  .col-1 {
    padding-right: var(--trust-col1-pr);

    .h6 {
      margin-bottom: 16px;
    }
  }

  .col-2 {
    padding-right: var(--trust-col2-pr);

    .h5 {
      margin: var(--trust-col2-h5-margin);
    }
  }

  .line {
    width: 80%;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 1px;
    position: relative;
    margin: var(--trust-line-margin);

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 40%;
      background-color: black;
    }
  }
}
// ===================================================================================================================Services
.services {
  position: relative;

  .slide-content {
    display: flex;
  }

  .col-1,
  .col-2 {
    width: 50%;
  }

  .col-1 {
    padding-right: var(--services-slide-col-padding);
  }

  .h5 {
    font-weight: 900;
  }

  .header {
    font-weight: 400;
    padding-right: var(--services-header-pr);
    margin: var(--services-header-margin);
  }

  #services-swiper {
    .swiper-slide:not(.swiper-slide-visible),
    .swiper-slide:not(.swiper-slide-active) {
      opacity: 0 !important;
    }
  }

  #services-swiper-thumbs {
    position: relative;

    .cat-tab {
      background-color: #f1f0f5;
      font-weight: 500;
      color: #000030;
      padding: var(--services-cat-tab-padding);
      display: flex;
      justify-content: center;

      .cat-name {
        font-size: var(--services-cat-tab-font-size);
        font-weight: var(--services-cat-tab-line-height);
      }
    }

    .swiper-slide-thumb-active {
      background-color: var(--color-blue);
      color: white;
    }
  }

  .nav-row {
    margin-bottom: 32px;
    display: flex;
    align-items: start;
  }
}

#services-pagination {
  position: relative;
  bottom: unset;
  top: unset;

  .swiper-pagination-bullet {
    width: unset;
    height: unset;
    background: unset;
    position: relative;
    margin-right: var(--hero-bullet-mr);
    padding-bottom: 10px;
  }
}

.ac.js-enabled {
  border-top: solid 1px #dedede;
  &:last-of-type {
    border-bottom: solid 1px #dedede;
  }
}

// ====================================================================================================Talk to our specialist
.talk-section {
  position: relative;
  img {
    width: 100%;
    aspect-ratio: 1312 / 499;
  }

  .text-container {
    background-color: #0c1a5c;
    position: absolute;
    right: 10%;
    top: 10%;
    bottom: -10%;
    left: 60%;

    &:before {
      content: "";
      position: absolute;
      left: 95%;
      width: 15%;
      height: 10%;
      top: 90%;
      background-color: white;
      -webkit-transform: skew(-40deg);
      -moz-transform: skew(-40deg);
      -o-transform: skew(-40deg);
      -ms-transform: skew(-40deg);
      transform: skew(-40deg);
    }
  }

  .text {
    position: relative;
    color: white;
    padding: var(--talk-text-pad);
  }
}

// ====================================================================================================TALENT
.talent-section {
  display: flex;

  .col-1,
  .col-2 {
    width: 50%;
  }
}
// ====================================================================================================Case study and Insights
.casestudy {
  background-color: #e6e7e933;
  padding-bottom: var(--section-margin);
  padding-top: var(--section-margin);
  margin-top: var(--section-margin);

  .inner {
    display: flex;

    .col-1 {
      width: 63%;
      padding-right: 24px;
    }

    .col-2 {
      width: 37%;
    }

    .insight-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .col-1.nav-col {
      display: flex;
      justify-content: space-between;
    }
    .col-2.nav-col {
      display: flex;
      a {
        margin-left: auto;
      }
    }

    .swiper-nav {
      display: flex;
      align-items: end;
    }

    .nav-col {
      margin-top: 24px;
      align-items: center;
    }
  }

  .h2 {
    margin-bottom: var(--casestudy-header-margin);
  }

  .case-card {
    background-color: white;
    padding: var(--casestudy-card-padding);
    min-height: var(--casestudy-card-height);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    .link {
      margin-top: auto;
    }
  }

  .case-image {
    width: 100%;
    aspect-ratio: 391 / 236;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .case-desc {
    margin-bottom: var(--casestudy-card-inner-margin);
  }

  .case-title {
    line-height: var(--casestudy-title-line-height);
    font-size: var(--casestudy-title-font-size);
    margin-bottom: var(--casestudy-card-inner-margin);
  }

  .case-badge {
    background-color: #2dc46d;
    font-size: var(--casestudy-sm-font-size);
    line-height: var(--casestudy-sm-line-height);
    padding: 6px 12px;
    margin-bottom: var(--casestudy-card-inner-margin);
    font-weight: 700;
    display: inline-block;
    color: white;
  }

  .case-info {
    margin-bottom: var(--casestudy-card-inner-margin);
  }

  .case-date {
    font-size: var(--casestudy-sm-font-size);
    line-height: var(--casestudy-sm-line-height);
    display: inline;
  }

  .case-read {
    font-size: var(--casestudy-sm-font-size);
    line-height: var(--casestudy-sm-line-height);
    display: inline;
  }

  .h5 {
    font-weight: 400;
  }

  .insight-card {
    background-color: #eff1f5;
    padding: var(--casestudy-card-padding);
    height: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    &:first-of-type {
      margin-bottom: 24px;
    }

    .case-badge {
      background-color: #0c1a5c;
    }

    .link {
      margin-top: auto;
    }
  }
}

// ====================================================================================================Products
.products-home {
  background-color: #141720;
  background: linear-gradient(180deg, #141720 64%, #ffffff 40%);
  padding-top: var(--section-margin);
  margin-bottom: var(--section-margin);

  .h2 {
    color: white;
    margin-bottom: 12px;
  }

  .products-section-desc {
    font-size: var(--hero-desc-font-size);
    line-height: var(--hero-desc-line-height);
    color: white;
    margin-bottom: 56px;
    text-align: center;

    .h5 {
    }
  }

  .product-image {
    width: 100%;
    aspect-ratio: 590 / 230;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .product-logo {
    position: absolute;
    bottom: -40px;
    left: 32px;
    width: 80px;
    height: 80px;
  }

  .product-desc-container {
    padding: 64px 32px 32px 32px;
    min-height: 380px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    .link {
      margin-top: auto;
    }
  }

  .product-desc {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .product-name {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--color-blue);
  }
}

// ====================================================================================================TALENT

.talent-section {
  margin-bottom: var(--section-margin);

  .talent-img {
    width: 100%;
    aspect-ratio: 605 / 581;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .talent-text {
    padding: 121px 56px;
    background-color: #e6e7e9cc;
  }

  .h4 {
    font-weight: 700;
    margin-bottom: 12px;
  }

  .h2 {
    margin-bottom: 12px;
  }

  .h5 {
    margin-bottom: 24px;
  }
}

@import "./media/xl[1500].css";
