$blue: #334eb9;
:root {
  --navbar-height: 120px;
}

// ================================================================================================================GENERAL

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.container {
  padding-left: 6.6vw;
  padding-right: 6.6vw;
}

.btn {
  padding: 8px 16px;
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.btn-blue {
  background-color: $blue;
  color: white;
}

// ================================================================================================================HEADER
.page {
  margin-top: var(--navbar-height);
}
header {
  position: fixed;
  background-color: aquamarine;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .container {
    height: var(--navbar-height);
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: relative;
  }

  nav {
    display: flex;
    justify-content: start;
    width: 100%;

    ul {
      display: flex;
      justify-content: start;
      width: 100%;
    }

    li {
      list-style-type: none;

      a {
        line-height: 24px;
        font-size: 16px;
      }
    }

    li:first-of-type,
    li:last-of-type {
      display: none;
    }
  }
}
// ================================================================================================================HERO
#hero-swiper {
  height: 100%;
  width: 100%;
}

.hero {
  height: calc(100vh - var(--navbar-height));
  height: calc(100dvh - var(--navbar-height));
  position: relative;

  .description {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .header {
    margin-top: 0;
    color: white;
  }

  .swiper-slide .inner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  #hero-pagination {
    width: 100%;

    .swiper-pagination-bullet {
      width: 30px;
      height: 30px;
    }
  }

  img {
    max-width: 90vw;
  }
}

// ==================================================================================================Trust. Quality Innovation
.trust-section {
  display: flex;

  .col-1,
  .col-2 {
    width: 50%;
  }
}
// ===================================================================================================================Services
.services {
  position: relative;

  .slide-content {
    display: flex;
  }

  #services-pagination {
    position: relative;
    bottom: unset;
    top: unset;
  }

  .col-1,
  .col-2 {
    width: 50%;
  }

  .swiper-slide:not(.swiper-slide-visible),
  .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
  }
}

.accordion-toggle {
  display: block;
}

.accordion-content {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  transition-delay: 0.2s;
}

.accordion-content.active {
  display: block;
  opacity: 1;
}
